// Set vars so we can use data from database. Strip quotes from the results.
-bookAuthor= JSON.stringify(bookdata["Author"]).replace(/['"]+/g, '');
-bookTitle= JSON.stringify(bookdata["Title"]).replace(/['"]+/g, '');
-bookIsbn= JSON.stringify(bookdata["ISBN"]).replace(/['"]+/g, '');
-bookNumber= JSON.stringify(bookdata["Number_In_Stock"]);
-bookGenre= JSON.stringify(bookdata["Genre"]).replace(/['"]+/g, '');
-bookPrice = JSON.stringify(bookdata["Price"].toFixed(2)).replace(/['"]+/g, '');
-bookImage = JSON.stringify(bookdata["Image_Address"]).replace(/['"]+/g, '');

html
  head
    title="Book Order: "+bookTitle
    link(rel='stylesheet', href='/style.css')
    //Bootstrap
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
  nav.navbar.navbar-inverse
    .navbar-header
      a.navbar-brand(href='/') Book Store
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/checkstock') Check Stock
        li
          a(href='/checkstoreorders') Orders
        li
          a(href='/insertbook') Insert Book
        li
          a(href='/modifypage') Modify Book
        li
          a(href='/deletepage') Delete Book
  body
    img.img-thumbnail.col-sm-2(src=bookImage, alt=bookTitle, height='300px', width='150px')
    .col-lg-6
      h2="Restock Order"
      h4=bookTitle
      h4#orderIsbn=bookIsbn
      br
    .form-group.col-sm-6
        label Manager Name
        h4#managerName=firstName+" "+lastName
        br
        label Number of Copies
        input.form-control#numCopies(type='Address1', placeholder='At least 5 copies recommended')
        br
        button.btn-lg(onclick="completeOrder()")  Confirm

script.
  function completeOrder(){ // function completes the store's order

    //Scrape appropriate values from user input form
    var managerName = document.getElementById("managerName").innerHTML;
    var numCopies = document.getElementById("numCopies").value;
    var orderIsbn = document.getElementById("orderIsbn").innerHTML;
  
    //Redirect to the order completion page
    window.location = "/storeorderfinished:"+orderIsbn+"&"+numCopies+"&"+managerName;
  }
